<script>

    function errorElement(){
        return ` <div id="formatError" class="alert alert-danger alert-dismissible fade show" role="alert">
                   <strong>Name can contain only a-z letters, and must contain only 3-32 characters !</strong>
                   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>`
    }

    function checkName(nameElem){
        const nameToCheck = nameElem.value.trim();
        const isValid = (nameToCheck) =>{
            return (/^[A-Za-z]+$/.test(nameToCheck) && (nameToCheck.length >= 3 && nameToCheck.length <= 32))
        }

        if(!isValid(nameToCheck)){
            nameElem.insertAdjacentHTML('beforebegin', errorElement());
            setTimeout(() =>{
              const errorMessages = document.getElementsByClassName("alert alert-danger alert-dismissible fade show");
                for (let i = 0; i < errorMessages.length; i++) {
                    errorMessages[i].remove();
                }
            },4000)
            return false;
        }
        return true;
    }

</script>