
<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/stylesheets/register.css">
</head>

<body>
<section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                            <div class="mb-md-5 mt-md-4 pb-5">
                                <h2 class="fw-bold mb-2 text-uppercase mb-5">Password</h2>

                                <% if (hasError) { %>

                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        <h4><strong><%= error %></strong></h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>

                                <% } %>
                                <p class="text-white-50 mb-1">Please choose your password</p>
                                <form class="product-form" action="/users/add-password" method="POST">
                                    <div class="form-outline form-white mb-4">
                                        <input name="password" type="password" id="password" class="form-control form-control-lg" minlength="6"  required />
                                        <label class="form-label" for="password">Password</label>
                                    </div>
                                    <p class="text-white-50 mb-1">Please confirm your password</p>
                                    <div class="form-outline form-white mb-4">
                                        <input name="confirmPassword" type="password" id="confirmPassword" class="form-control form-control-lg" minlength="6"  required />
                                        <label class="form-label" for="confirmPassword">Confirm password</label>
                                    </div>

                                    <button class="btn btn-outline-light btn-lg px-5 mb-4" type="submit">Register</button>
                                </form>
                                <a class="btn btn-outline-light btn-lg px-5 mb-4" href="/users/register" role="button">Back</a>

                                <p class="mb-0">Already Registered ? go to <a href="/" class="text-white-50 fw-bold">Login</a></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<%- include('includes/end.ejs') %>